<h2 class="white-text center">Known Spells</h2>
{% if known_spells %}
    {% for spell_name in known_spells %}
        {%  set spell = spells[spell_name] %}
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ spell['name'] }}</span>
                        <p>
                            {% include 'spellinfo.html' %}
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="black-text" href="/?spells={{ known_spells|reject('equalto', spell_name)|list|join(',') }}">
                            <i class="material-icons right">not_interested</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
