<li>
    <div class="collapsible-header">
        <span style="font-weight: bold">{{ spell['name'] }}</span> Level {{ spell['level'] }} {{ spell['school'] }}
        <div class="right">
            <a href="/?spells={{ ([spell['name']] + (known_spells or []))|join(',') }}"><i class="material-icons">playlist_add</i></a>
        </div>
    </div>
    <div class="collapsible-body">
        <div class="col s12 grey darken-4 grey-text lighten-text-4">
            {% include 'spellinfo.html' %}
        </div>
    </div>
</li>