<strong>Description: </strong> {{ spell['description'] }}<br/>
<strong>At Higher Levels: </strong> {{ spell['level_bonus'] }}<br/>
<strong>Range: </strong> {{ spell['range'] }}<br/>
<strong>Cast Time: </strong> {{ spell['cast_time'] }}<br/>
<strong>Duration: </strong> {{ spell['duration'] }}<br/>
<strong>Components: </strong> {{ spell['components'] }}<br/>